In [1]:
#Импортируем библиотеки
import numpy as np
import pandas as pd
import copy
import re
import openpyxl

In [2]:
df = pd.read_csv("C:/Users/NightMare/Desktop/YandexHack/DATA_Pretrained/2019_обработанный_2.csv", encoding='Windows-1251')

In [3]:
df.head(15)

,Направление расходов,Наименование вида расходов,Вид объекта,Дата проведения,Конечный остаток
0,"Верхнепортовая, 44",ВО,Здание,10.01.2019,663.40
1,"Верхнепортовая, 44",ВО,Здание,14.01.2019,11.97
2,"Верхнепортовая, 44",ВО,Здание,07.02.2019,12.17
3,"Верхнепортовая, 44",ВО,Здание,08.02.2019,488.15
4,"Верхнепортовая, 44",ВО,Здание,07.03.2019,413.05
5,"Верхнепортовая, 44",ВО,Здание,12.03.2019,12.17
6,"Верхнепортовая, 44",ВО,Здание,05.04.2019,12.17
7,"Верхнепортовая, 44",ВО,Здание,08.04.2019,588.28
8,"Верхнепортовая, 44",ВО,Здание,08.05.2019,12.17
9,"Верхнепортовая, 44",ВО,Здание,15.05.2019,550.73
10,"Верхнепортовая, 44",ВО,Здание,07.06.2019,926.23
11,"Верхнепортовая, 44",ВО,Здание,13.06.2019,12.17
12,"Верхнепортовая, 44",ВО,Здание,09.07.2019,375.50
13,"Верхнепортовая, 44",ВО,Здание,15.07.2019,12.17
14,"Верхнепортовая, 44",ВО,Здание,08.08.2019,13.27

In [4]:
def remove_whitespace(column):
    return column.str.replace(' ', '')
def remove_suffix(column):
    return column.str.rstrip(',-')

df['Направление расходов'] = remove_whitespace(df['Направление расходов'])
df['Направление расходов'] = remove_suffix(df['Направление расходов'])

In [5]:
def compare_and_assign(df, column_name, replacements):
    for index, value in df[column_name].items():
        for replacement in replacements:
            target_string = replacement['target']
            new_value = replacement['new_value']
            # Удаляем пробелы с обеих сторон строки перед проверкой
            if value.rstrip().endswith(target_string):
                df.at[index, "Вид объекта"] = new_value
                # Удаляем target строку из строки с которой сравнивали
                df.at[index, column_name] = value.replace(target_string, '').strip()
    return df[column_name]  # Возвращаем измененный столбец

# Заменяем значения, оканчивающиеся на "(Буфет)"
replacements = [
    {'target': ',кв.30', 'new_value': ''}
]
df['Направление расходов'] = compare_and_assign(df, 'Направление расходов', replacements)



def compare_and_assign_prefix(df, column_name, replacements):
    for index, value in df[column_name].items():
        for replacement in replacements:
            target_string = replacement['target']
            new_value = replacement['new_value']
            # Удаляем пробелы с обеих сторон строки перед проверкой
            if value.lstrip().startswith(target_string):
                df.at[index, "Вид объекта"] = new_value
                # Удаляем target строку из строки с которой сравнивали
                df.at[index, column_name] = value.replace(target_string, '', 1).strip()
    return df[column_name]  # Возвращаем измененный столбец

replacements = [
    {'target': 'РКЦВилючинск,', 'new_value': ''},
    {'target': 'Благовещенск,', 'new_value': ''},
    {'target': 'Южно-Сахалинск,', 'new_value': ''},
    {'target': 'РКЦКомсомольск-на-Амуре', 'new_value': ''},
    {'target': 'ул,', 'new_value': ''},
    {'target': 'мкр.', 'new_value': ''},
    {'target': 'пр.', 'new_value': ''},
    {'target': 'РКЦ', 'new_value': ''},
    {'target': 'п.Депутатский,мкр.', 'new_value': ''},
    {'target': 'Находка,', 'new_value': ''},
    {'target': 'пер.', 'new_value': ''},
    {'target': 'Ленск', 'new_value': ''},
    {'target': 'Покровск', 'new_value': ''},
    {'target': 'Нерюнгри', 'new_value': ''},
    {'target': 'Южная', 'new_value': ''},
    {'target': '50летСоветскойАрмии', 'new_value': ''},
    {'target': 'Билибино', 'new_value': ''},
    {'target': 'Комсомольск-на-Амуре', 'new_value': ''},
    {'target': ',', 'new_value': ''},
    {'target': ' Профсоюзная,д.,12', 'new_value': ''}

    
]
df['Направление расходов'] = compare_and_assign_prefix(df, 'Направление расходов', replacements)


def drop_rows_with_empty_values(df):
    # Удаляем строки, содержащие хотя бы одно из значений: 0, NaN, пустую строку или пробелы
    df = df.dropna().replace({'': None, ' ': None}).dropna()
    return df

# Удаляем строки с пустыми значениями
df= drop_rows_with_empty_values(df)



def add_comma_before_d(column):
    # Применяем функцию к каждой ячейке столбца
    column_with_comma = column.apply(lambda x: x[:x.find('д.')] + ',' + x[x.find('д.'):] if 'д.' in x else x)
    
    return column_with_comma

df['Направление расходов'] = add_comma_before_d(df['Направление расходов'])


# Выведите уникальные значения
for value in df['Направление расходов'].unique():
    print(value)

Верхнепортовая,44
Светланская,71
Светланская,73
Некрасова,102
Океанскийпр-т,34
Пушкина,59
Калинина,261
Мордовцева,6
Пушкинская,8Б
Светланская,69
Фонтанная,19
Светланская,73А
Пушкинская,8б
Седова,23
Семеновская,29а
Тихоокеанская,50
БогданаХмельницкого,52/2
Профсоюзная,12
БогданаХмельницкого52/2
Зеяпер.Жуковский,15
Профсоюзная,,д.12
Ленина,3
Советская,27
Ленинская,33
Советская,94
Поротова,14
Партизанская,11
Ленинская,22
К.Маркса,29/2
Школьная,19
Центральная,5
Пушкина,4
Горняцкая,44А
Металлистов,1А
Транспортная,12
Пушкина,6
Сахалинская1А
Школьная64
Коммунистическая47
КарлаМаркса16
Сахалинская1а
Воронежская,154
Муравьева-Амурского,21
Муравьева-Амурского,42
М-Амурского,21
М-Амурского,42
Советская,26
Советская,27А
Калинина,95
Воронежская,154А
Горького7
Дежнева7
Отке28А
Ленина9А
Колхозная32Б
Дежнева31
Ленина9а
10летЯкутии,31А
Ленина,70
Ленина,14
Кирова,17
Ленина,22

In [6]:
df.head()

,Направление расходов,Наименование вида расходов,Вид объекта,Дата проведения,Конечный остаток
0,"Верхнепортовая,44",ВО,Здание,10.01.2019,663.40
1,"Верхнепортовая,44",ВО,Здание,14.01.2019,11.97
2,"Верхнепортовая,44",ВО,Здание,07.02.2019,12.17
3,"Верхнепортовая,44",ВО,Здание,08.02.2019,488.15
4,"Верхнепортовая,44",ВО,Здание,07.03.2019,413.05

In [7]:
def split_date_column(df, date_column_name):
    df[date_column_name] = pd.to_datetime(df[date_column_name], format='%d.%m.%Y')
    df['Год проведения'] = df[date_column_name].dt.year
    df['Месяц проведения'] = df[date_column_name].dt.month
    df.drop(columns=[date_column_name], inplace=True)
    return df

df = split_date_column(df, 'Дата проведения')

df.head(15)

,Направление расходов,Наименование вида расходов,Вид объекта,Конечный остаток,Год проведения,Месяц проведения
0,"Верхнепортовая,44",ВО,Здание,663.40,2019,1
1,"Верхнепортовая,44",ВО,Здание,11.97,2019,1
2,"Верхнепортовая,44",ВО,Здание,12.17,2019,2
3,"Верхнепортовая,44",ВО,Здание,488.15,2019,2
4,"Верхнепортовая,44",ВО,Здание,413.05,2019,3
5,"Верхнепортовая,44",ВО,Здание,12.17,2019,3
6,"Верхнепортовая,44",ВО,Здание,12.17,2019,4
7,"Верхнепортовая,44",ВО,Здание,588.28,2019,4
8,"Верхнепортовая,44",ВО,Здание,12.17,2019,5
9,"Верхнепортовая,44",ВО,Здание,550.73,2019,5
10,"Верхнепортовая,44",ВО,Здание,926.23,2019,6
11,"Верхнепортовая,44",ВО,Здание,12.17,2019,6
12,"Верхнепортовая,44",ВО,Здание,375.50,2019,7
13,"Верхнепортовая,44",ВО,Здание,12.17,2019,7
14,"Верхнепортовая,44",ВО,Здание,13.27,2019,8

In [10]:
# Переносим Конечный остаток вправо.
new_order = [col for col in df.columns if col != 'Конечный остаток'] + ['Конечный остаток']
df = df[new_order]

In [12]:
# Группировка по другим столбцам и суммирование 'конечный остаток'
df = df.groupby(['Направление расходов', 'Наименование вида расходов', 'Год проведения', 'Месяц проведения'])['Конечный остаток'].sum().reset_index()

In [13]:
df.head()

,Направление расходов,Наименование вида расходов,Год проведения,Месяц проведения,Конечный остаток
0,"10летЯкутии,31А",ВО,2019,3,940.10
1,"10летЯкутии,31А",ТЭ,2019,1,32208.17
2,"БогданаХмельницкого,52/2",ВО,2019,1,2.67
3,"БогданаХмельницкого,52/2",ВО,2019,2,1.60
4,"БогданаХмельницкого,52/2",ВО,2019,3,4.01

In [14]:
len(df)

1831

In [9]:
# Сохранение файла в формате CSV с указанием кодировки UTF-8
df.to_csv('C:/Users/NightMare/Desktop/YandexHack/DATA_well_done/2019_welldone.csv', index=False, encoding='Windows-1251')

# Сохранение в Excel
df.to_excel('C:/Users/NightMare/Desktop/YandexHack/DATA_well_done/2019_welldone.xlsx', index=False)